html, body {
    background-color: azure;
}

* {
    font-family: 'Century Gothic';
    margin: 0;
    padding: 0;
}



.app-main{
    // @import './home.scss';
    // @import './todolist.scss';
    // grid-template-columns: auto auto auto auto;
    // grid-template-rows: 100px 300px;

    // TITLE
    h1 {
        text-align: center;
    }

    .app-wrapper{

        @import './todotable.scss';
    }
    
    @import './todoentry.scss';
}

